
/* .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
display: block;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}
.table-fixed tr {
    width: 100%;
} */


/* Tabla de modal*/

/* .table-fixed-modal tbody{
    height: 300px;
    overflow-y: auto;
    width: 100%;
    text-align: left;
}

.table-fixed-modal thead,
.table-fixed-modal tbody{
display: inline-block;
}
.table-fixed-modal th{
    width: 400px;
}

.table-fixed-modal td{
    width: 400px;
}  */

.table-scroll1{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    display:inline-block;
}

.table-scroll1 td{
    width: 400px;
} 
.table-scroll2{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    display:inline-block;
}

.table-scroll2 td{
    width: 800px;
} 
.table-scroll3{
    width: 100%;
    max-height: 500px;
    overflow: auto;
    display:inline-block;
}

.table-scroll3 td{
    width: 800px;
} 

